* {
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'PobedaBold';
    src: url("../fonts/pobeda_bold.ttf");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'PobedaReg';
    src: url("../fonts/pobeda_regular.ttf");
    font-weight: normal;
    font-style: normal;
}

.header {
    position: fixed;
    width: 100%;
    background-color: rgb(43, 40, 40);
    padding: 0.5% 0 0.2% 0;
    z-index: 100;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
.header .container {
    margin-top: 0.2%;
    height: 100%;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo img {
    vertical-align: middle;
    margin-right: 15%;
}
.menu ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
}
.menu-item {
    width: 100%;
    margin-right: 15%;
}
.menu-item a {
    font-family: 'PobedaBold', sans-serif;
    text-align: center;
    vertical-align: middle;
    font-size: 25px;
    color: white;
    text-decoration: none;
}
.menu-item a:hover {
    border-bottom: 2px solid black;
    color:black;
}



.main, .jobs, .cases {
    height: 100vh;
}
.main {
    background-image: url("../images/background.jpg");
    object-fit: contain;
    color: black;
}

.main .container {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10%;
}

.main-title {
    font-family: 'PobedaBold', sans-serif;
    font-size: 50px;
    margin-bottom: 2%;
}
.main-text {
    font-family: 'PobedaBold', sans-serif;
    font-size: 30px;
    line-height: 110%;    
}
.main .main-text {
    font-size: 30px;
    width: 100%;
    line-height: 120%;
    margin-bottom: 3%;
}

/* .button {
    padding: 15px;
    width: 75%;
    height: 2.5%;
    background: whitesmoke;
    color: black;
    border: 0;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 0.02ex;
    text-transform: uppercase;
    box-sizing: border-box;
    text-align: center;
    transition: background-color .2s;
    border-radius: 5px;
    
}
/* .main .button {
    border: 2px solid #584136;
} */
/* .button:hover {
    cursor: pointer;
    background-color: black;
    color:white;
    border: 1px solid white;
} */ 


.something {
    overflow: hidden;
    background-color: #70757b;
    width: 100%;
    height: 50vh;
}
.carousel-item img {
    width: 100%;
    height: 50vh;
    object-fit: contain;
}
.carousel-item .carousel-text {
    font-family: 'PobedaBold', sans-serif;
    font-size: 35px;
    background-color: #030305;
} 


.experience {
    background: rgb(43, 40, 40);
    font-size: 25px;
    overflow: hidden;
}
.experience .cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}
.cards .card {
    font-family: 'PobedaBold', sans-serif;
    background-color: #8a8a8a;
    padding: 1% 1%;
    width: 20%;
    margin: 2% 2%;
    max-width: 20%;
    max-height: 20%;
    height: 20%;
    border-radius: 20px;
    color:black;
    align-items: center;
}
.card .card-text {
    text-align: center;
    padding: 2.5%;
}
.card img {
    width: 40%;
    height: 40%;
    border-radius: 50px;
    border: 2px solid black;
}
.card img {
    padding: 4%;
}

.cases, .jobs, .response, .experience, .info {
    overflow: hidden;
    padding: 5% 0 5% 0;
}
.cases {
    color:#030305;
    font-family: 'PobedaBold', sans-serif;
    background: white;
}
.cases .main-text, .cases .sub-title {
    font-family: 'PobedaBold', sans-serif;
    color:black;
}
.card-columns {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.card-columns .card-second {
    display: flex;
    flex-direction: row;
    margin: 1% auto;
    width: 90%;
    max-width: 90%;
    border: 3px solid black;
    border-radius: 15px;
    vertical-align: middle;
    box-shadow: 12px 12px #70757b, 12px 12px #70757b;
}
.card-second img {
    padding: 1%;
    width: 25%;
    height: 5%;
    max-width: 25%;
    max-height: 5%;
    object-fit: cover;
    border-left: 2px solid black;
}
.card-second .cards-title {
    font-family: 'PobedaBold', sans-serif;
    font-size:0px;
    text-align: center;
    border-bottom: 2px solid black;
}
.card-second .card-text {
    padding: 1%;
    font-family: 'PobedaBold', sans-serif;
    font-size: 25px;
}



.jobs .sub-title {
    font-family: 'PobedaBold', sans-serif;
    font-size: 40px;
}
.jobs {
    background-color: #70757b;
    color: black;
}
/* .jobs-list {
    width: 60%;
    display: grid;
    grid-template-columns: repeat(2, 75%);
    direction: ltr;
}
.job {
    padding: 2.5% 1.5%;
    width: 90%;
    height: 100%;
    max-width: 90%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: whitesmoke;
    color:black;
    border: 2px solid #584136;
    border-radius: 5px;
    margin: 1em auto;
    box-shadow: 12px 12px #584136, 12px 12px #584136;
} */
.job .title, .notjob {
    font-size: 30px;
    font-family: 'PobedaBold', sans-serif;
}
/* .job-title {
    font-size: 20px;
}
.skill, .salary, .job-place {
    margin-top: 2%;
}
.descript {
    font-size: 16px;
    color:#404044;
} */
.notjob {
    margin: 10% auto 5% auto;
    width: 100%;
    text-align: center;
    font-size: 40px;
}
.form-group {
    font-family: 'PobedaBold', sans-serif;
    border-radius: 30px;
    padding: 2%;
    
    background-color: #28292b;
    margin: 5% 25%;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50%; 
    box-shadow: 12px 12px black, 12px 12px black;
}
.form-group label {
    letter-spacing: 1.5px;
    color:white;
    font-size: 30px;
    
}
.form-control{
    border: 2px solid white;
    margin: 1% 0;
}
.form-control:invalid {
    border: 5px solid red;
}
.form-group small {
    text-align: center;
    font-size: 23px;
    color:white;
    letter-spacing: 2px;
    margin-bottom: 1%;
}
.form-group input {
    font-size: 20px;
}
.sendData {
    border: 1px solid white;
    width: 30%;
    padding: 1.5%;
    font-size: 25px;
    letter-spacing: 1.5px;
    border-radius: 25px;
    color:black;
    background-color: white;
    border: 1px solid white;
}
.jobs button:active{
    background-color: #28292b;
    color:white;
}



.info {
    background-color: rgb(43, 40, 40);
}
.info .container {
    font-family: 'PobedaBold', sans-serif;
    color: white;
    max-width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.info .contact-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.list {
    padding: 0;
    list-style: none;
    font-size: 20px;

}
.social-item a{
    text-decoration: none;
    color: white;
}
.social-item a:hover {
    color: white;
}





.footer {
    background-color: rgb(43, 40, 40);
    padding: 25px 0;
}
.footer .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.rights {
    font-family: 'PobedaBold', sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
    text-align: right;
    color: white;
}


.header, .main, .cases, .jobs, .info, .footer {
    font-family: 'PobedaBold', sans-serif;
}
