    * {
        margin: 0;
        padding: 0;
    }
    body {
        scroll-behavior: smooth;
    }
    @font-face {
        font-family: 'PobedaBold';
        src: url("../fonts/pobeda_bold.ttf");
        font-weight: bold;
        font-style: normal;
    }
    @font-face {
        font-family: 'PobedaReg';
        src: url("../fonts/pobeda_regular.ttf");
        font-weight: normal;
        font-style: normal;
    }
    @keyframes ani {
        0% {opacity: 0;}
        100% {opacity: 1;}
      }
    .header {
        position: fixed;
        width: 100%;
        height: fixed;
        background-color: black;
        padding: 0.5% 0 0.2% 0;
        z-index: 100;
        
    }
    .container {
        max-width: 1200px;
        margin: 0 auto;
    }
    .header .container {
        margin-top: 0.2%;
        height: 100%;
        
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .logo img {
        width: 150px;
        margin-right: 10%;
    }
    .logo img:hover {
        width: 200px;
        transition: 0.5s;
    }
    .menu ul {
        list-style: none;
        display: flex;
        justify-content: center;
    }
    .menu-item {
        margin-right: 5%;
        padding: 1.5%;
    }
    .menu-item a {
        font-family: 'PobedaBold', sans-serif;
        text-align: center;
        font-size: 170%;
        color: whitesmoke;
        text-decoration: none;
    }
    .menu-item a:hover  {
        /* border-bottom: 3px solid black; */
        color:black;
        background-color: white;
        font-size: 190%;
        transition: .3s;
    }




    .main, .jobs, .cases {
        height: 100vh;
    }
    .main {
        background-image: url("../images/cube.png");
        background-position: -55% 80%;
        background-color: rgba(43, 40, 40, 0.1s);
        object-fit: contain;
        color: black;
        overflow: hidden;
    }

    .main .container {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 10%;
    }

    .main-title {
        font-family: 'PobedaBold', sans-serif;
        font-size: 75px;
        margin: 0 auto;
        color:whitesmoke;
        background: linear-gradient(0deg, rgba(213,102,224,.6) 0%, rgba(134,30,181,.7) 100%);
    }
    .main-text {
        font-family: 'PobedaBold', sans-serif;
        color: black;
        font-size: 45px;
        line-height: 110%;    
    }
    /* .main .main-text {
        font-size: 30px;
        width: 100%;
        line-height: 120%;
    } */

    /* .button {
        padding: 15px;
        width: 75%;
        height: 2.5%;
        background: whitesmoke;
        color: black;
        border: 0;
        font-weight: bold;
        font-size: 20px;
        letter-spacing: 0.02ex;
        text-transform: uppercase;
        box-sizing: border-box;
        text-align: center;
        transition: background-color .2s;
        border-radius: 5px;
        
    }
    /* .main .button {
        border: 2px solid #584136;
    } */
    /* .button:hover {
        cursor: pointer;
        background-color: black;
        color:whitesmoke;
        border: 1px solid whitesmoke;
    } */ 


    .main .testing {
        width: 100%;
    }
    .carousel-item img {
        width: 100%;
        height: 50vh;
        object-fit: contain;
    }
    .carousel-item .carousel-text {
        font-family: 'PobedaBold', sans-serif;
        font-size: 45px;
        width: 100%;
    } 
    .carousel-control-prev, .carousel-control-next {
        background-color: rgba(43, 40, 40, 0.05);
        border-radius: 360px;
        margin: 15%;
        width: 20%;
        height: 20%;
    }
    .carousel-control-prev:hover, .carousel-control-next:hover {
        background-color: rgba(43, 40, 40, 0.01);
        border-radius: 360px;
        margin: 15%;
        width: 20%;
        height: 20%;
    }


    .experience {
        overflow: hidden;
    }
    .big-title, .title-cards {
        font-family: 'PobedaBold', sans-serif;
        font-size: 75px;
        color:white;
        background-color: rgba(0, 0, 0, 1);
    }
    .experience h1 {
        text-align: center;
    }
    .experience a {
        cursor: pointer;
        text-decoration: none;
    }
        
    .cards {
        padding-top: 6%;
        vertical-align: top;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .cards a {
        width: 20%;
        display: flex;
        justify-content: center;
        flex-direction: column;
  
    }
    .cards a:hover {
        border-radius: 5px;
        transition: .3s;
    }
    .cards a:hover .exp-card {
        background: linear-gradient(0deg, rgba(213,102,224,.6) 0%, rgba(134,30,181,.9) 100%);
    }
    .cards a:hover .exp-card .title-cards {
        visibility: visible;
        animation: ani 1s;
    }
    .exp-card {
        padding: 5%;
        height: 100%;
        border-radius: 10px; 
    }
    .exp-card img {
        background: black;
        border-radius: 360px;
        margin-bottom: 5%;
        padding: 10%;
        max-width: 100%;
    }
    .exp-card .title-cards {
        visibility: hidden;
        text-align: center;
        font-size: 30px;
    }

    .jobs, .response, .experience, .info, .cases {
        overflow: hidden;
        padding-top: 4.5%;
    }
    /* .cases {
        color:#030305;
        font-family: 'PobedaBold', sans-serif;
        background: whitesmoke;
    }
    .cases .main-text, .cases .sub-title {
        font-family: 'PobedaBold', sans-serif;
        color:black;
    }
    .card-columns {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .card-columns .card-second {
        display: flex;
        flex-direction: row;
        margin: 1% auto;
        width: 90%;
        max-width: 90%;
        border: 3px solid black;
        border-radius: 15px;
        vertical-align: middle;
        box-shadow: 12px 12px #70757b, 12px 12px #70757b;
    }
    .card-second img {
        padding: 1%;
        width: 25%;
        height: 5%;
        max-width: 25%;
        max-height: 5%;
        object-fit: cover;
        border-left: 2px solid black;
    }
    .card-second .cards-title {
        font-family: 'PobedaBold', sans-serif;
        font-size:0px;
        text-align: center;
        border-bottom: 2px solid black;
    }
    .card-second .card-text {
        padding: 1%;
        font-family: 'PobedaBold', sans-serif;
        font-size: 25px;
    } */



    .jobs .sub-title, .cases .sub-title {
        font-family: 'PobedaBold', sans-serif;
        font-size: 75px;
    }
    .jobs {
        background-image: url("../images/cubeee.png");
        background-repeat: no-repeat;
        background-position: 100%;
        color: black;
    }
    .jobs .big-title {
        padding: 0 75%;
    }
    /* .jobs-list {
        width: 60%;
        display: grid;
        grid-template-columns: repeat(2, 75%);
        direction: ltr;
    }
    .job {
        padding: 2.5% 1.5%;
        width: 90%;
        height: 100%;
        max-width: 90%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        flex-wrap: wrap;
        background-color: whitesmoke;
        color:black;
        border: 2px solid #584136;
        border-radius: 5px;
        margin: 1em auto;
        box-shadow: 12px 12px #584136, 12px 12px #584136;
    } */
    .job .title, .notjob {
        font-size: 30px;
        font-family: 'PobedaBold', sans-serif;
    }
    /* .job-title {
        font-size: 20px;
    }
    .skill, .salary, .job-place {
        margin-top: 2%;
    }
    .descript {
        font-size: 16px;
        color:#404044;
    } */
    .notjob {
        margin: 10% auto 5% auto;
        width: 100%;
        text-align: center;
        font-size: 40px;
    }
    .form-group {
        font-family: 'PobedaBold', sans-serif;
        border-radius: 30px;
        padding: 2%;
        background: black;
        margin: 5% 25%;
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 50%; 
        box-shadow: 12px 12px rgba(213,102,224,.8), 12px 12px rgba(134,30,181,.9);
    }
    .form-group label {
        letter-spacing: 1.5px;
        color:white;
        font-size: 35px;
        
    }
    .form-control{
        border: 2px solid white;
        margin: 1% 0;
    }
    .form-control:invalid {
        border: 5px solid red;
    }
    .form-group small {
        text-align: center;
        font-size: 23px;
        color:white;
        letter-spacing: 2px;
        margin-bottom: 1%;
    }
    .form-group input {
        font-size: 20px;
    }
    .sendData {
        border: 1px solid black;
        width: 30%;
        padding: 1.5%;
        font-size: 25px;
        letter-spacing: 1.5px;
        border-radius: 25px;
        color:black;
        background-color: white;
    }
    
    .sendData:hover {
        background-color: black;
        color: white;
        transition: .3s;
    }
    .jobs button:active{
        background-color: #28292b;
        color:white;
    }

    .cases {
        color: black;
        overflow: hidden;
        background-image: url("../images/cubes.png");
        background-repeat: repeat-y;
        background-position: 100% 0;
    }
    .cases .big-title {
        padding: 0 15%;
    }
    .cases-cards {
        display: flex;
        flex-direction: column;
    }
    .cases-card {
        height: 15%;
        width: 75%;
        padding: 1.5% 1.5%;
        max-height: 10%;    
    }
    .cases-card .text {
        font-size: 25px;
        width: 100%;
    }
        
    .cases-cards .anotherPage {
        text-decoration: none;
        color: black;
        margin-bottom: 2%;
    }
    .cases-cards .anotherPage:hover{
        cursor: pointer;
        color: white;
        margin-top: 1%;
        margin-bottom: 3%;
        transition: .3s;
    }
    .cases-cards .anotherPage:hover .cases-card{
        cursor:pointer;
        color:white;
        background: linear-gradient(0deg, rgba(213,102,224,.9) 0%, rgba(134,30,181,.9) 100%);
        transition: .6s;
    }
    




    .info {
        background-color: rgb(43, 40, 40);
    }
    .info .container {
        font-family: 'PobedaBold', sans-serif;
        color: whitesmoke;
        max-width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .info .contact-items {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .list {
        letter-spacing: 2px;
        padding: 0;
        list-style: none;
        font-size: 25px;

    }
    .social-item a{
        text-decoration: none;
        color: whitesmoke;
    }
    .social-item a:hover {
        color: whitesmoke;
    }

    .modalDialog {
        position: fixed;
        font-family: "PobedaBold", sans-serif;
        font-size: 32px;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0,0,0,0.8);
        z-index: 99999;
        -webkit-transition: opacity 400ms ease-in;
        -moz-transition: opacity 400ms ease-in;
        transition: opacity 400ms ease-in;
        display: none;
        pointer-events: none;
    }
    
    .modalDialog:target {
        display: block;
        pointer-events: auto;
    }
    
    .modalDialog > div {
        width: 800px;
        position: relative;
        margin: 20% auto;
        padding: 5px 20px 13px 20px;
        border-radius: 5px;
        background: wheat;
    }
    
    .close {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
        background: linear-gradient(0deg, rgb(213,102,224) 0%, rgb(134,30,181) 100%);
        color: white;
        line-height: 25px;
        position: absolute;
        right: -12px;
        text-align: center;
        top: -10px;
        width: 40px;
        text-decoration: none;
        font-weight: bold;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        border-radius: 12px;
        -moz-box-shadow: 1px 1px 3px #000;
        -webkit-box-shadow: 1px 1px 3px #000;
        box-shadow: 1px 1px 3px #000;
    }
    .close:hover{
        background-color:black;
        color: red;
    }
    


    .footer {
        background-color: rgb(43, 40, 40);
        padding: 25px 0;
    }
    .footer .container {
        display: flex;
        justify-content: flex-end;
    }
    .rights {
        font-family: 'PobedaBold', sans-serif;
        font-size: 20px;
        letter-spacing: 2px;
        color: whitesmoke;
    }


    .header, .main, .cases, .jobs, .info, .footer {
        font-family: 'PobedaBold', sans-serif;
    }
